@font-face {
    font-family: "iconfont"; /* project id 1916117 */
    src: url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.eot");
    src: url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.eot?#iefix") format("embedded-opentype"),
        url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.woff2") format("woff2"),
        url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.woff") format("woff"),
        url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.ttf") format("truetype"),
        url("//at.alicdn.com/t/font_1916117_6z5o7tcmv0f.svg#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.el-input {
    line-height: 0 !important;
}

.el-message__icon {
    font-size: 16px !important;
}

.hide {
    display: none;
}

.red {
    color: red;
}

.red1 {
    color: #ff7b7b;
}

.errorColor {
    color: #f1592a !important;
}

.weight {
    font-weight: bold;
}

.gang {
    color: #999;
}

/* 去除a 标签样式 */

a {
    text-decoration: none;
}

/*正常的未被访问过的链接*/

a:link {
    text-decoration: none;
}

/*已经访问过的链接*/

a:visited {
    text-decoration: none;
}

/*鼠标划过(停留)的链接*/

a:hover {
    text-decoration: none;
}

/* 正在点击的链接*/

a:active {
    text-decoration: none;
}
.zindex1 {
    z-index: 1 !important;
}
.el-dropdown-menu {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .width9 {
        width: 90% !important;
    }
}
